<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
  <!-- Mobile Responsiveness? -->
    <meta name="viewport" content="width=320" />
  <title>Surf & Paddle Co.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="page">
      <header id="top">
        <div class="opacity">
          <nav>
            <ul>
              <%= image_tag"Logo.png", class:"logo"%>
              <li class="blog-title">SURF & PADDLE CO. BLOG</li>
              <li id="search" class="navright"><a href="searchfunction">SEARCH<%= image_tag"search.png" %></a></li>
              <li class="navright"><a href="About.html">ABOUT</a></li>
            </ul>
          </nav>
          <h1>SURF & PADDLE CO.</h1>
          <p>An Ironyard Academy Project Est. Fall 2013</p>
        </div>
      </header>
      <%= yield %>

</body>
</html>
